OmniFlow-AI/OmniFlow_AI.json
{
  "nodes": [
    {
      "parameters": {
        "jsCode": "if ($input.first().json.message.from.id !== XXX) { // Replace with your Telegram user ID\n    return { unauthorized: true };\n} else {\n    // Return the original data when authorized\n    return $input.all();\n}\n"
      },
      "id": "837b6298-2118-4aaa-809c-f3ad9b4bf4b5",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "position": [
        1728,
        848
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "50c5d1bd-ce04-4a66-a6dc-19b52de6a6d1",
      "name": "Get Message",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        1424,
        848
      ],
      "webhookId": "7914047e-f8bc-4315-a482-f787407c83ad",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "chatId": "={{ $(&apos;Get Message&apos;).item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "id": "da76eecd-b029-4057-b8eb-cba08e50e0de",
      "name": "Send a text message",
      "type": "n8n-nodes-base.telegram",
      "position": [
        4400,
        432
      ],
      "webhookId": "0c34fd33-0a7a-424e-b57b-9a45bb6f083d",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "029f4e7e-b367-4aa9-863e-e372694940fb",
              "name": "chatInput",
              "type": "string",
              "value": "={{ $json.message.text }}"
            },
            {
              "id": "398c1d7f-0c90-4af6-a414-d4d1968855b9",
              "name": "sessionId",
              "type": "number",
              "value": "={{ $json.message.from.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ac25c57f-2102-40ba-b6c0-85b743fc303f",
      "name": "Get Text",
      "type": "n8n-nodes-base.set",
      "position": [
        2688,
        656
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.message.text}}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "7b2cb4dc-dd9d-43b2-b4db-f0de858f46cc",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "98d80a35-3004-4bad-95b8-e87fc9270083",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.message.photo[0] }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Immagine"
            }
          ]
        },
        "options": {}
      },
      "id": "cca6b78a-e6b8-4a8f-b6f1-8c8f2e652531",
      "name": "Switch2",
      "type": "n8n-nodes-base.switch",
      "position": [
        1968,
        832
      ],
      "executeOnce": false,
      "typeVersion": 3.2,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $(&apos;Get Message&apos;).item.json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "id": "02d66a94-68b4-45cd-9c6f-126a75226c2a",
      "name": "Get voice message",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2240,
        848
      ],
      "webhookId": "d971a56e-963a-452e-99dd-286653f432a9",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "it"
        }
      },
      "id": "a071a7ff-1a6d-4849-a35b-3f027ed0f15f",
      "name": "Transcribe recording",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        2464,
        848
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.photo[2].file_id }}",
        "additionalFields": {}
      },
      "id": "73d65f86-ae33-4077-8572-91e09566d803",
      "name": "Get image file",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2256,
        1088
      ],
      "webhookId": "0b5ed937-7ee2-48e2-8a63-1937609680fc",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "operation": "upload",
        "path": "=/XXX/{{ $binary.data.fileName }}",
        "options": {}
      },
      "id": "aad2af2e-6cb3-4f6c-9f11-534a36d5d1ec",
      "name": "Upload image",
      "type": "n8n-nodes-base.ftp",
      "position": [
        2480,
        1088
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "29fbf21e-301d-4a1c-b6c9-723c9c03fb61",
              "name": "image_url",
              "type": "string",
              "value": "=https://XXX/{{ $binary.data.fileName }}"
            },
            {
              "id": "272f6379-55fa-4d36-8da7-0ec1232606fd",
              "name": "chatInput",
              "type": "string",
              "value": "={{ $(&apos;Get Message&apos;).item.json.message.caption || \"\"}}"
            },
            {
              "id": "aff4f5c4-fe02-4bb8-b923-9c91334124ba",
              "name": "sessionId",
              "type": "string",
              "value": "={{ $(&apos;Get Message&apos;).item.json.message.from.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6edb5341-de7f-4c6c-9895-e8e5a57c3401",
      "name": "Set Image Url",
      "type": "n8n-nodes-base.set",
      "position": [
        2704,
        1088
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "029f4e7e-b367-4aa9-863e-e372694940fb",
              "name": "chatInput",
              "type": "string",
              "value": "={{ $json.text }}"
            },
            {
              "id": "398c1d7f-0c90-4af6-a414-d4d1968855b9",
              "name": "sessionId",
              "type": "number",
              "value": "={{ $(&apos;Get Message&apos;).item.json.message.from.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "cb6b4ee7-06f3-4178-af90-f48d952fca43",
      "name": "Get input text from voice",
      "type": "n8n-nodes-base.set",
      "position": [
        2688,
        848
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "2b13199d-864b-4629-8767-350255b8193b",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        3168,
        1056
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "b5135490-fb55-41f7-894d-8d4f061e16c2",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "position": [
        3360,
        1056
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "path": "56c7aeae-eb8a-4d2e-a149-dfe02b586d18",
        "options": {}
      },
      "id": "8b2ff996-7e71-4369-8621-308576f52e91",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        2272,
        368
      ],
      "webhookId": "56c7aeae-eb8a-4d2e-a149-dfe02b586d18",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "fcefeaf8-6d6e-42e3-bea4-dac57ae2a998",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        2256,
        128
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Message_ID&apos;, ``, &apos;string&apos;) }}"
      },
      "id": "6287756f-f240-4d6c-a3c4-81e05d1b76f9",
      "name": "Get a message in Gmail",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        1456,
        2320
      ],
      "webhookId": "94d96aef-c203-4a9b-948d-963a2f143868",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;To&apos;, ``, &apos;string&apos;) }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Subject&apos;, ``, &apos;string&apos;) }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Message&apos;, ``, &apos;string&apos;) }}",
        "options": {}
      },
      "id": "2a5299fe-15e7-48a6-9405-19f9b9792eda",
      "name": "Send a message in Gmail",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        1632,
        2320
      ],
      "webhookId": "11022cbf-4db4-4fb6-b2cc-213b1aabc7d7",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Return_All&apos;, ``, &apos;boolean&apos;) }}",
        "simple": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Simplify&apos;, ``, &apos;boolean&apos;) }}",
        "filters": {
          "q": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Search&apos;, ``, &apos;string&apos;) }}",
          "receivedAfter": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Received_After&apos;, ``, &apos;string&apos;) }}",
          "receivedBefore": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Received_Before&apos;, ``, &apos;string&apos;) }}"
        },
        "options": {
          "downloadAttachments": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Download_Attachments&apos;, ``, &apos;boolean&apos;) }}"
        }
      },
      "id": "22527a9e-4dfb-417f-9938-9aa27ec2839e",
      "name": "Get many messages in Gmail",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        1968,
        2320
      ],
      "webhookId": "766ec83e-38e7-41f9-86e9-dc74581a07e6",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Message_ID&apos;, ``, &apos;string&apos;) }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Message&apos;, ``, &apos;string&apos;) }}",
        "options": {}
      },
      "id": "985a729c-ad10-4474-92d6-bcc50537b11e",
      "name": "Reply to a message in Gmail",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        1792,
        2320
      ],
      "webhookId": "09b28a3b-8944-4cc6-a2fd-a8163e013b4a",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Subject&apos;, ``, &apos;string&apos;) }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Message&apos;, ``, &apos;string&apos;) }}",
        "options": {
          "replyTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Send_Replies_To&apos;, ``, &apos;string&apos;) }}",
          "threadId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Thread_ID&apos;, ``, &apos;string&apos;) }}",
          "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;To_Email&apos;, ``, &apos;string&apos;) }}"
        }
      },
      "id": "e91b3068-9cfb-4c64-b791-4080e16b495a",
      "name": "Create a draft in Gmail",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        2144,
        2320
      ],
      "webhookId": "4cda1631-469d-4c82-ac9b-cb6bfcd68fa0",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "path": "63975752-0598-4992-9422-165a84c8798c"
      },
      "id": "8b94b2c5-18d6-41d1-9165-76ff04aeb120",
      "name": "MCP Gmail Trigger",
      "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
      "position": [
        1696,
        2096
      ],
      "webhookId": "63975752-0598-4992-9422-165a84c8798c",
      "typeVersion": 2
    },
    {
      "parameters": {
        "path": "0f72eb90-2a1c-403e-98e1-901d76c2825c"
      },
      "id": "6188a6cc-8807-4eaa-9003-193be506ebfa",
      "name": "MCP Calendar Trigger",
      "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
      "position": [
        2656,
        2096
      ],
      "webhookId": "0f72eb90-2a1c-403e-98e1-901d76c2825c",
      "typeVersion": 2
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "mode": "id",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Calendar&apos;, ``, &apos;string&apos;) }}",
          "__regex": "(^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*)"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Start&apos;, ``, &apos;string&apos;) }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;End&apos;, ``, &apos;string&apos;) }}",
        "additionalFields": {}
      },
      "id": "055c53a1-0e75-4c3d-aba8-87bc3d3e7a13",
      "name": "Create an event in Google Calendar",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        2496,
        2304
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "mode": "id",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Calendar&apos;, ``, &apos;string&apos;) }}",
          "__regex": "(^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*)"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Return_All&apos;, ``, &apos;boolean&apos;) }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;After&apos;, ``, &apos;string&apos;) }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Before&apos;, ``, &apos;string&apos;) }}",
        "options": {}
      },
      "id": "89922c45-247b-45ab-99ea-dd2cf1cd2ada",
      "name": "Get many events in Google Calendar",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        2656,
        2304
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": {
          "__rl": true,
          "mode": "id",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Calendar&apos;, ``, &apos;string&apos;) }}",
          "__regex": "(^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*)"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Event_ID&apos;, ``, &apos;string&apos;) }}",
        "options": {}
      },
      "id": "1c458725-6024-41e2-8996-aec92c428c60",
      "name": "Get an event in Google Calendar",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        2800,
        2304
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "mode": "id",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Calendar&apos;, ``, &apos;string&apos;) }}",
          "__regex": "(^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*)"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Event_ID&apos;, ``, &apos;string&apos;) }}",
        "options": {}
      },
      "id": "25481600-5838-4ce0-8957-f960d2114eb4",
      "name": "Delete an event in Google Calendar",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        2944,
        2304
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "mode": "id",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Calendar&apos;, ``, &apos;string&apos;) }}",
          "__regex": "(^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*)"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Start_Time&apos;, ``, &apos;string&apos;) }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;End_Time&apos;, ``, &apos;string&apos;) }}",
        "options": {}
      },
      "id": "5eae5832-8535-4300-b427-1555fa4b8757",
      "name": "Get availability in a calendar in Google Calendar",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        3088,
        2304
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;File&apos;, ``, &apos;string&apos;) }}"
        },
        "options": {}
      },
      "id": "f2c70867-6e12-44e2-b977-80b5b49c5523",
      "name": "Download file in Google Drive",
      "type": "n8n-nodes-base.googleDriveTool",
      "position": [
        3296,
        2240
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Search_Query&apos;, ``, &apos;string&apos;) }}",
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Limit&apos;, ``, &apos;number&apos;) }}",
        "filter": {},
        "options": {}
      },
      "id": "fb669f0c-a5f8-4ff5-af27-437a8b6bd168",
      "name": "Search files and folders in Google Drive",
      "type": "n8n-nodes-base.googleDriveTool",
      "position": [
        3456,
        2240
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "resource": "drive",
        "operation": "list",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Return_All&apos;, ``, &apos;boolean&apos;) }}",
        "limit": 50,
        "options": {}
      },
      "id": "4874fb87-9c06-4a3f-b2de-ccc77e438760",
      "name": "Get many shared drives in Google Drive",
      "type": "n8n-nodes-base.googleDriveTool",
      "position": [
        3600,
        2240
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;File_Content&apos;, ``, &apos;string&apos;) }}",
        "name": "={{$now.format(&apos;yyyyLLdd&apos;)}}",
        "driveId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Parent_Drive&apos;, ``, &apos;string&apos;) }}"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Parent_Folder&apos;, ``, &apos;string&apos;) }}"
        },
        "options": {}
      },
      "id": "eb7f701d-48f7-4f07-b7cd-07be3ad17733",
      "name": "Create file from text in Google Drive",
      "type": "n8n-nodes-base.googleDriveTool",
      "position": [
        3760,
        2240
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;File&apos;, ``, &apos;string&apos;) }}"
        },
        "driveId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Parent_Drive&apos;, ``, &apos;string&apos;) }}"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Parent_Folder&apos;, ``, &apos;string&apos;) }}"
        }
      },
      "id": "93ae1391-2db1-41a7-b966-d1e6f023c31b",
      "name": "Move file in Google Drive",
      "type": "n8n-nodes-base.googleDriveTool",
      "position": [
        3952,
        2240
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "folderId": "default",
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Title&apos;, ``, &apos;string&apos;) }}"
      },
      "id": "18e95ad8-bcce-4de1-aa4e-311df4d2ec63",
      "name": "Create a document in Google Docs",
      "type": "n8n-nodes-base.googleDocsTool",
      "position": [
        3600,
        3056
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Doc_ID_or_URL&apos;, ``, &apos;string&apos;) }}"
      },
      "id": "43108a41-712f-41ea-8e20-15e08d4337f2",
      "name": "Get a document in Google Docs",
      "type": "n8n-nodes-base.googleDocsTool",
      "position": [
        3776,
        3056
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Doc_ID_or_URL&apos;, ``, &apos;string&apos;) }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;actionFields0_Text&apos;, ``, &apos;string&apos;) }}"
            }
          ]
        }
      },
      "id": "9a48a018-2a51-45e4-96e8-0a787b36b53a",
      "name": "Update a document in Google Docs",
      "type": "n8n-nodes-base.googleDocsTool",
      "position": [
        3984,
        3056
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "path": "1f35317d-7b8e-48b9-a419-936ea5b63ae6"
      },
      "id": "85f3f918-be86-4a78-a7af-10d0a9973a9f",
      "name": "MCP Docs Trigger",
      "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
      "position": [
        3680,
        2896
      ],
      "webhookId": "1f35317d-7b8e-48b9-a419-936ea5b63ae6",
      "typeVersion": 2
    },
    {
      "parameters": {
        "path": "031809b0-c277-4ff1-b65a-9e72294b1ff1"
      },
      "id": "2df761af-5c83-420a-b133-cf853d87eafa",
      "name": "MCP Drive Trigger",
      "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
      "position": [
        3504,
        2096
      ],
      "webhookId": "031809b0-c277-4ff1-b65a-9e72294b1ff1",
      "typeVersion": 2
    },
    {
      "parameters": {
        "path": "1f35317d-7b8e-48b9-a419-936ea5b63ae6"
      },
      "id": "f7e4a08d-dbb0-4f3a-ab9d-b50b68971fb1",
      "name": "MCP Sheet Trigger",
      "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
      "position": [
        1712,
        2880
      ],
      "webhookId": "1f35317d-7b8e-48b9-a419-936ea5b63ae6",
      "typeVersion": 2
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Document&apos;, ``, &apos;string&apos;) }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "id",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Sheet&apos;, ``, &apos;string&apos;) }}"
        },
        "options": {}
      },
      "id": "7a63e0ff-c1a1-4b72-8f97-2de09031c1b8",
      "name": "Get row(s) in sheet in Google Sheets",
      "type": "n8n-nodes-base.googleSheetsTool",
      "position": [
        1440,
        3072
      ],
      "typeVersion": 4.7
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Document&apos;, ``, &apos;string&apos;) }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "id",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Sheet&apos;, ``, &apos;string&apos;) }}"
        },
        "columns": {
          "value": {},
          "schema": [],
          "mappingMode": "autoMapInputData",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "3b3edc45-3a90-4caf-87e6-d429a6f7dd3e",
      "name": "Append or update row in sheet in Google Sheets",
      "type": "n8n-nodes-base.googleSheetsTool",
      "position": [
        1600,
        3072
      ],
      "typeVersion": 4.7
    },
    {
      "parameters": {
        "operation": "create",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Document&apos;, ``, &apos;string&apos;) }}"
        },
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Title&apos;, ``, &apos;string&apos;) }}",
        "options": {}
      },
      "id": "13afa0c5-81de-4ea8-aaa8-260e686ce2e3",
      "name": "Create sheet in Google Sheets",
      "type": "n8n-nodes-base.googleSheetsTool",
      "position": [
        1920,
        3072
      ],
      "typeVersion": 4.7
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Document&apos;, ``, &apos;string&apos;) }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "id",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Sheet&apos;, ``, &apos;string&apos;) }}"
        },
        "startIndex": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Start_Row_Number&apos;, ``, &apos;number&apos;) }}",
        "numberToDelete": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Number_of_Rows_to_Delete&apos;, ``, &apos;number&apos;) }}"
      },
      "id": "1f29ac22-d57d-4c6e-9aac-ed1b87201d0f",
      "name": "Delete rows or columns from sheet in Google Sheets",
      "type": "n8n-nodes-base.googleSheetsTool",
      "position": [
        2064,
        3072
      ],
      "typeVersion": 4.7
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Document&apos;, ``, &apos;string&apos;) }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "id",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Sheet&apos;, ``, &apos;string&apos;) }}"
        },
        "columns": {
          "value": {},
          "schema": [],
          "mappingMode": "autoMapInputData",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "fd2e7460-3416-47d4-8bd3-6c4e344538e2",
      "name": "Update row in sheet in Google Sheets",
      "type": "n8n-nodes-base.googleSheetsTool",
      "position": [
        1744,
        3072
      ],
      "typeVersion": 4.7
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Document&apos;, ``, &apos;string&apos;) }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "id",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Sheet&apos;, ``, &apos;string&apos;) }}"
        },
        "keepFirstRow": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Keep_First_Row&apos;, ``, &apos;boolean&apos;) }}"
      },
      "id": "e456c8cd-2c14-497b-a851-f521068d571a",
      "name": "Clear sheet in Google Sheets",
      "type": "n8n-nodes-base.googleSheetsTool",
      "position": [
        2224,
        3056
      ],
      "typeVersion": 4.7
    },
    {
      "parameters": {
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Title&apos;, ``, &apos;string&apos;) }}"
      },
      "id": "36bbf5a4-0827-416f-8f14-c12cf37330d1",
      "name": "Create a presentation in Google Slides",
      "type": "n8n-nodes-base.googleSlidesTool",
      "position": [
        2624,
        3072
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "path": "1f35317d-7b8e-48b9-a419-936ea5b63ae6"
      },
      "id": "99bb72dd-feaa-415d-bc67-4a54ab678d7f",
      "name": "MCP Slides Trigger",
      "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
      "position": [
        2784,
        2864
      ],
      "webhookId": "1f35317d-7b8e-48b9-a419-936ea5b63ae6",
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "get",
        "presentationId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Presentation_ID&apos;, ``, &apos;string&apos;) }}"
      },
      "id": "a2ef6f5e-31ad-4092-b95b-aaf72eab348f",
      "name": "Get a presentation in Google Slides",
      "type": "n8n-nodes-base.googleSlidesTool",
      "position": [
        2784,
        3072
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "getSlides",
        "presentationId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Presentation_ID&apos;, ``, &apos;string&apos;) }}",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Return_All&apos;, ``, &apos;boolean&apos;) }}"
      },
      "id": "a641b80c-5aee-4be2-9a99-6da940a8ba5f",
      "name": "Get slides from a presentation in Google Slides",
      "type": "n8n-nodes-base.googleSlidesTool",
      "position": [
        2944,
        3072
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "replaceText",
        "presentationId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Presentation_ID&apos;, ``, &apos;string&apos;) }}",
        "textUi": {
          "textValues": [
            {
              "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;textValues0_Search_For&apos;, ``, &apos;string&apos;) }}",
              "replaceText": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;textValues0_Replace_With&apos;, ``, &apos;string&apos;) }}"
            }
          ]
        },
        "options": {
          "revisionId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Revision_ID&apos;, ``, &apos;string&apos;) }}"
        }
      },
      "id": "af701902-98cd-473f-a39c-e6099c526d20",
      "name": "Replace text in a presentation in Google Slides",
      "type": "n8n-nodes-base.googleSlidesTool",
      "position": [
        3120,
        3072
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "resource": "draft",
        "operation": "delete",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Draft_ID&apos;, ``, &apos;string&apos;) }}"
      },
      "id": "3e019420-972b-4f05-97a9-588e9d93368d",
      "name": "Delete a draft in Gmail",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        2160,
        2512
      ],
      "webhookId": "4cda1631-469d-4c82-ac9b-cb6bfcd68fa0",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "operation": "delete",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Draft_ID&apos;, ``, &apos;string&apos;) }}"
      },
      "id": "cd15b847-cadf-4409-acc3-cd9efd843515",
      "name": "Delete a message in Gmail",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        1456,
        2512
      ],
      "webhookId": "4cda1631-469d-4c82-ac9b-cb6bfcd68fa0",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Draft_ID&apos;, ``, &apos;string&apos;) }}",
        "labelIds": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Label_Names_or_IDs&apos;, ``, &apos;string&apos;) }}"
      },
      "id": "2e88b1a3-4a75-4601-9ce1-34fd7e32be38",
      "name": "Add label to message in Gmail",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        1632,
        2512
      ],
      "webhookId": "4cda1631-469d-4c82-ac9b-cb6bfcd68fa0",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "operation": "removeLabels",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Draft_ID&apos;, ``, &apos;string&apos;) }}",
        "labelIds": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Label_Names_or_IDs&apos;, ``, &apos;string&apos;) }}"
      },
      "id": "8fe1a660-cad1-4424-bbc5-8fd4c3abfb4e",
      "name": "Remove label from message in Gmail",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        1808,
        2512
      ],
      "webhookId": "4cda1631-469d-4c82-ac9b-cb6bfcd68fa0",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;To&apos;, ``, &apos;string&apos;) }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Subject&apos;, ``, &apos;string&apos;) }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Message&apos;, ``, &apos;string&apos;) }}",
        "options": {}
      },
      "id": "fe0742d5-6475-47f7-a1cf-de6b57306637",
      "name": "Send message and wait for response in Gmail",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        1984,
        2512
      ],
      "webhookId": "4cda1631-469d-4c82-ac9b-cb6bfcd68fa0",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "endpointUrl": "https://n8n.skool.n3witalia.com/mcp-test/63975752-0598-4992-9422-165a84c8798c",
        "options": {}
      },
      "id": "0c52f3cd-f5fb-42f6-80d9-d36685655cc9",
      "name": "Gmail Agent",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "position": [
        3456,
        1424
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "endpointUrl": "https://n8n.skool.n3witalia.com/mcp-test/63975752-0598-4992-9422-165a84c8798c",
        "options": {}
      },
      "id": "01ffeb43-4202-4a15-ad81-a3a982492847",
      "name": "Google Drive Agent",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "position": [
        3456,
        1584
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "422c8f2d-2024-4c78-8839-a5cbf5e9d3eb",
      "name": "Google Calendar Agent",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "position": [
        3600,
        1568
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "2280451b-20e6-4f2a-b6f1-dd0294ac7759",
      "name": "Google Slides Agent",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "position": [
        3744,
        1584
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "0a50ec77-f020-4d7d-9654-1a7518362f3f",
      "name": "Google Docs Agent",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "position": [
        3584,
        1424
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9a976764-d749-4516-9db2-a92f5ac8dab7",
      "name": "Google Sheets Agent",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "position": [
        3728,
        1424
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput ?? &apos;&apos; }}\n\nImage Url (if exist): {{ $json.image_url ?? &apos;&apos; }}",
        "options": {
          "systemMessage": "=# 🤖 Universal Orchestrator Agent — n8n OpenClaw Simulation\n\nYou are an advanced AI orchestrator agent running inside n8n, simulating an OpenClaw-style multi-agent architecture. Your role is to analyze the user&apos;s request, decompose it into tasks, and intelligently delegate each task to the most appropriate specialized tool or sub-agent. You operate autonomously, chain tool calls as needed, and synthesize results into a coherent final response.\n\n---\n\n## 🧠 CORE BEHAVIOR\n\n- Always reason step-by-step before calling any tool.\n- Select the most appropriate tool(s) based on the nature of the request.\n- Chain multiple tools when a task requires it (e.g., research → write doc → send email).\n- Never ask the user for information you can retrieve yourself via tools.\n- If a tool returns insufficient results, try an alternative tool or refine your query.\n- Always summarize what you did and what the outcome was.\n\n---\n\n## 🛠️ AVAILABLE TOOLS & AGENTS\n\n### 🔍 1. Research Agent (`research_agent`)\n- **Provider:** Perplexity AI\n- **Use when:** The user needs deep research, fact-checking, topic analysis, competitor research, industry reports, or any question requiring up-to-date internet knowledge.\n- **Input:** A well-formed research question or topic.\n- **Output:** Structured research summary with sources.\n\n---\n\n### 🌐 2. Web Search Agent (`websearch_agent`)\n- **Provider:** Perplexity AI\n- **Use when:** The user needs quick web searches, current news, recent events, prices, or lightweight information retrieval (faster and lighter than full Research Agent).\n- **Input:** A search query string.\n- **Output:** Top results with snippets and URLs.\n\n---\n\n### 🕷️ 3. Scraper Agent (`scraper_agent`)\n- **Provider:** ScrapeGraphAI\n- **Use when:** The user provides a URL or asks to extract structured data from a specific webpage (e.g., product details, article content, table data, contact info).\n- **Input:** URL + extraction instructions (what data to extract).\n- **Output:** Structured JSON or formatted text extracted from the page.\n\n---\n\n### 📁 4. Google Drive Agent (`googledrive_agent`)\n- **Use when:** The user needs to search, list, upload, download, move, or manage files and folders in Google Drive.\n- **Input:** Action type + file name/ID/folder path.\n- **Output:** File metadata, download links, or confirmation of action performed.\n\n---\n\n### 📧 5. Gmail Agent (`gmail_agent`)\n- **Use when:** The user needs to read, search, send, reply to, or organize emails in Gmail.\n- **Input:** Action type (send/read/search/reply) + relevant parameters (to, subject, body, search query).\n- **Output:** Email content, sent confirmation, or list of matching emails.\n\n---\n\n### 📝 6. Google Docs Agent (`googledocs_agent`)\n- **Use when:** The user needs to create, read, edit, append content to, or format a Google Doc.\n- **Input:** Action type + document ID or title + content to write/append.\n- **Output:** Document link, content extracted, or confirmation of edit.\n\n---\n\n### 📊 7. Google Sheets Agent (`googlesheets_agent`)\n- **Use when:** The user needs to read, write, update, or analyze data in a Google Sheet (e.g., logging data, pulling reports, updating CRM-like tables).\n- **Input:** Action type + spreadsheet ID/name + sheet/range + data payload.\n- **Output:** Data rows, updated values, or confirmation.\n\n---\n\n### 📑 8. Google Slides Agent (`googleslides_agent`)\n- **Use when:** The user needs to create a presentation, add/edit slides, or extract content from Google Slides.\n- **Input:** Action type + presentation ID or title + slide content/instructions.\n- **Output:** Presentation link or confirmation of changes.\n\n---\n\n### 📅 9. Google Calendar Agent (`googlecalendar_agent`)\n- **Use when:** The user needs to create, read, update, or delete calendar events, check availability, or schedule meetings.\n- **Input:** Action type + event details (title, date, time, attendees, description).\n- **Output:** Event link, list of events, or confirmation of action.\n\n---\n\n### 🧠 10. RAG Agent (`rag_agent`)\n- **Use when:** The user asks questions about internal documents, company knowledge base, uploaded files, or any private/indexed knowledge that is not publicly available on the web.\n- **Input:** A natural language question or query.\n- **Output:** Answer grounded in retrieved document chunks with source references.\n\n---\n\n### 🔌 11. MCP Agents (`mcp_[service_name]`)\n> **Placeholder — extend as needed**\n- **Use when:** The user requires integration with an external service connected via Model Context Protocol (MCP).\n- **Available MCP endpoints:** *(to be configured — replace with actual service names)*\n  - `mcp_placeholder_1` — [Service Name TBD]\n  - `mcp_placeholder_2` — [Service Name TBD]\n  - `mcp_placeholder_3` — [Service Name TBD]\n- **Input:** Service-specific action and parameters.\n- **Output:** Service-specific response.\n\n---\n\n### ⚙️ 12. Sub-Workflows (`subwf_[workflow_name]`)\n> **Placeholder — extend as needed**\n- **Use when:** The user&apos;s request maps to a predefined automation workflow in n8n.\n- **Available Sub-Workflows:**\n  - `subwf_social_posting` — **Postiz Integration**: Post content to any social media platform (LinkedIn, Twitter/X, Instagram, Facebook, TikTok, etc.). Input: platform, content text, media URL (optional), scheduled time (optional).\n  - `subwf_placeholder_2` — [Workflow Name TBD]\n  - `subwf_placeholder_3` — [Workflow Name TBD]\n  - `subwf_placeholder_4` — [Workflow Name TBD]\n- **Input:** Workflow-specific parameters.\n- **Output:** Workflow execution result or confirmation.\n\n---\n\n### 🚨 13. Escalation Agent (`escalation_agent`)\n- **Use when:**\n  - A task cannot be completed by any available tool after multiple attempts.\n  - The request involves ambiguous, sensitive, or critical decisions requiring human judgment.\n  - An error or unexpected result occurs that blocks task completion.\n  - The user explicitly requests human review or approval.\n- **Input:** Summary of the issue, tools already attempted, reason for escalation.\n- **Output:** Escalation notification sent to the responsible human (via email, Slack, or designated channel), with full context attached.\n\n---\n\n## 🔄 ORCHESTRATION LOGIC\n\nFollow this decision flow for every request:\nUNDERSTAND → Parse the user intent and identify all sub-tasks.\nPLAN → Map each sub-task to the most suitable tool/agent.\nEXECUTE → Call tools sequentially or in parallel as needed.\nEVALUATE → Check if results are complete and accurate.\nCHAIN → If further steps are needed, call additional tools with previous output as input.\nESCALATE → If blocked or uncertain, call escalation_agent.\nRESPOND → Synthesize all results into a clear, structured final answer.\n\n---\n\n## 📋 TOOL SELECTION CHEAT SHEET\n\n| User Need | Primary Tool |\n|---|---|\n| Research a topic in depth | `research_agent` |\n| Quick web search / news | `websearch_agent` |\n| Extract data from a URL | `scraper_agent` |\n| Manage files in Drive | `googledrive_agent` |\n| Send / read emails | `gmail_agent` |\n| Write / edit a document | `googledocs_agent` |\n| Work with spreadsheet data | `googlesheets_agent` |\n| Create / edit a presentation | `googleslides_agent` |\n| Schedule / manage events | `googlecalendar_agent` |\n| Query internal knowledge base | `rag_agent` |\n| External service via MCP | `mcp_[service_name]` |\n| Run a predefined automation | `subwf_[workflow_name]` |\n| Post on social media | `subwf_social_posting` |\n| Task failed / needs human | `escalation_agent` |\n\n---\n\n## ⚠️ RULES & CONSTRAINTS\n\n- **Never hallucinate tool results.** If a tool is unavailable or returns an error, report it honestly.\n- **Always confirm destructive actions** (delete, send email to many recipients, post publicly) before executing if there is any ambiguity.\n- **Respect data privacy.** Do not expose sensitive data in intermediate steps unnecessarily.\n- **Keep tool calls focused.** Pass precise, minimal inputs — do not dump large unstructured text into tools.\n- **Log your reasoning.** Before each tool call, briefly state why you are calling it.\n- **If in doubt, escalate.** It is always better to escalate than to take a wrong action autonomously.\n\n---\n\n*Orchestrator ready. Awaiting your instructions.*"
        }
      },
      "id": "bca423a4-f855-45d4-bf21-1b2af5ee498f",
      "name": "OpenClaw Agents",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        3312,
        832
      ],
      "typeVersion": 3.1
    },
    {
      "parameters": {
        "messages": {
          "message": [
            {
              "content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;message0_Text&apos;, ``, &apos;string&apos;) }}"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "id": "bd51d5cf-ca96-46e5-a878-153f074ffd7a",
      "name": "Websearch Agent",
      "type": "n8n-nodes-base.perplexityTool",
      "position": [
        3536,
        1056
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "userPrompt": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;User_Prompt&apos;, ``, &apos;string&apos;) }}",
        "websiteUrl": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Website_URL&apos;, ``, &apos;string&apos;) }}",
        "renderHeavyJs": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Render_Heavy_JS&apos;, ``, &apos;boolean&apos;) }}",
        "enableScrolling": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Enable_Infinite_Scrolling&apos;, ``, &apos;boolean&apos;) }}",
        "useOutputSchema": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Use_Custom_Output_Schema&apos;, ``, &apos;boolean&apos;) }}",
        "enablePagination": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Enable_Pagination&apos;, ``, &apos;boolean&apos;) }}"
      },
      "id": "830e6c83-cb28-43c0-ae00-7a7288a362ff",
      "name": "Scraper Agent",
      "type": "n8n-nodes-scrapegraphai.scrapegraphAiTool",
      "position": [
        3648,
        1056
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "RAG Agent",
        "qdrantCollection": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "useReranker": true,
        "options": {}
      },
      "id": "21e129eb-adfb-4372-8c4c-ddbccaa2fb6d",
      "name": "RAG Agent",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "position": [
        4064,
        1040
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d25fa326-25bf-46c1-9d95-3740657e77aa",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        4080,
        1216
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {},
      "id": "b654bf65-e8bf-40e9-b469-b9b2129ce2a9",
      "name": "Reranker Cohere",
      "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
      "position": [
        4256,
        1216
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "description": "Create and edit Image and Video",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "klLje7jNDPINkW4Y",
          "cachedResultUrl": "/workflow/klLje7jNDPINkW4Y",
          "cachedResultName": "Image Grok Agent with Telegram"
        },
        "workflowInputs": {
          "value": {
            "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;query&apos;, ``, &apos;string&apos;) }}",
            "duration": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;duration&apos;, ``, &apos;number&apos;) }}",
            "image_url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;image_url&apos;, ``, &apos;string&apos;) }}",
            "tool_name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;tool_name&apos;, ``, &apos;string&apos;) }}",
            "video_url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;video_url&apos;, ``, &apos;string&apos;) }}"
          },
          "schema": [
            {
              "id": "tool_name",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "tool_name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "query",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "query",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "duration",
              "type": "number",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "duration",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "video_url",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "video_url",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "image_url",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "image_url",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "1efc8fed-4b6b-41ce-aa6d-25f5d6f195fc",
      "name": "Image and Video Grok Agent",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        4048,
        1424
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "7bdb55ec-ece3-4b8a-935c-dbfa274bc8ad",
      "name": "Others MCP Client",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "position": [
        4208,
        1424
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "description": "Chiama questo tool  solo quando devi modificare un video già esistente. NON per crearlo",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "klLje7jNDPINkW4Y",
          "cachedResultUrl": "/workflow/klLje7jNDPINkW4Y",
          "cachedResultName": "Image Grok Agent with Telegram"
        },
        "workflowInputs": {
          "value": {
            "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;query&apos;, ``, &apos;string&apos;) }}",
            "duration": 0,
            "tool_name": "Run text to image"
          },
          "schema": [
            {
              "id": "tool_name",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "tool_name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "query",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "query",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "duration",
              "type": "number",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "duration",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "video_url",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "video_url",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "image_url",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "image_url",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "5bd29f16-20e9-40eb-83d5-384fb2df1cbe",
      "name": "Others SubWF",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        4352,
        1424
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  if (item.binary) {\n    const binaryPropertyNames = Object.keys(item.binary);\n    for (const propName of binaryPropertyNames) {\n      if (item.binary[propName].mimeType === &apos;audio/mp3&apos;) {\n        item.binary[propName].mimeType = &apos;audio/mpeg&apos;;\n      }\n    }\n  }\n}\n\nreturn $input.all();"
      },
      "id": "0cb30ee1-8573-458a-886b-4ac69ced5620",
      "name": "Fix mimeType for Audio",
      "type": "n8n-nodes-base.code",
      "position": [
        4688,
        192
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $json.output }}",
        "voice": "onyx",
        "options": {}
      },
      "id": "897a2ff2-bb1e-4b6f-88e2-3a618c64a9fa",
      "name": "Generate Audio Response",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        4400,
        192
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "b9d1d759-f585-4791-a743-b9d72951e77c",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $(&apos;Get Message&apos;).item.json.message.voice.file_id }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "34e12f73-4cd8-4998-a4db-6c357d8d7a52",
      "name": "From audio to audio?",
      "type": "n8n-nodes-base.if",
      "position": [
        4064,
        400
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $(&apos;Get Message&apos;).item.json.message.from.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "id": "9f1c10f8-7cc2-4f48-b8ac-2555a220ffb9",
      "name": "Send an audio file",
      "type": "n8n-nodes-base.telegram",
      "position": [
        4960,
        192
      ],
      "webhookId": "4cc62c0d-3555-41a6-9617-e3d5dc11bc5b",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "029f4e7e-b367-4aa9-863e-e372694940fb",
              "name": "chatInput",
              "type": "string",
              "value": "={{ $json.message.text }}"
            },
            {
              "id": "398c1d7f-0c90-4af6-a414-d4d1968855b9",
              "name": "sessionId",
              "type": "number",
              "value": "={{ $json.message.from.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d5e25cd9-9733-4cdf-aa1b-61f71bdea334",
      "name": "Normalization",
      "type": "n8n-nodes-base.set",
      "position": [
        2672,
        368
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {},
      "id": "2bd9b599-e059-49e3-8ab8-3790155bd186",
      "name": "Calculator",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "position": [
        3776,
        1056
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chatId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Chat_ID&apos;, ``, &apos;string&apos;) }}",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Text&apos;, ``, &apos;string&apos;) }}",
        "additionalFields": {}
      },
      "id": "ae87ca5d-b1e2-4cb0-a447-79c926ec45a5",
      "name": "Send a text message in Telegram",
      "type": "n8n-nodes-base.telegramTool",
      "position": [
        4656,
        1216
      ],
      "webhookId": "3ff2dbe0-42a6-4261-a583-cdc28192a3f7",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "chatId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(&apos;Chat_ID&apos;, ``, &apos;string&apos;) }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "id": "8220232e-aa63-41dc-80b7-f6bd30d2b377",
      "name": "Escalation",
      "type": "n8n-nodes-base.telegramHitlTool",
      "position": [
        4624,
        1056
      ],
      "webhookId": "4d19adfc-9e20-454d-a26e-b01f40eb7679",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "## STEP 1 - Set up recurrences\nPlease replace xxx with the requested information, in particular the Telegram ID and the prompt to be scheduled periodically, for example every morning \"Send me the latest news on AI\"\n\nAlso add any external input webhooks you want.",
        "height": 608,
        "width": 656,
        "color": 7
      },
      "id": "d315a0bf-fcd2-4199-bf13-0494f9981a95",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2224,
        -64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "029f4e7e-b367-4aa9-863e-e372694940fb",
              "name": "chatInput",
              "type": "string",
              "value": "=xxxx"
            },
            {
              "id": "398c1d7f-0c90-4af6-a414-d4d1968855b9",
              "name": "sessionId",
              "type": "number",
              "value": "=xxxx"
            }
          ]
        },
        "options": {}
      },
      "id": "b69c0985-be9f-4e7b-8cd9-375b0a8257c9",
      "name": "Set up istruction",
      "type": "n8n-nodes-base.set",
      "position": [
        2672,
        128
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "## STEP 2 - Set up Telegram\nConnect to your Telegram Bot and replace xxx with the required information, specifically the Telegram ID. Set your FTP Space\nYou can send text, audio or image",
        "height": 672,
        "width": 1600,
        "color": 7
      },
      "id": "ba3cb33d-7fed-4174-af37-072084911cd0",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1280,
        592
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## STEP 3 - Set up OpenClaw agent\nIn the prompt system add ALL tools you want",
        "height": 576,
        "width": 960,
        "color": 7
      },
      "id": "182b7ede-eb4f-493d-b4c5-bef85bcf58c5",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2944,
        688
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## STEP 4 - Google MCP\nPlease configure MCP Server below (MCP Trigger) with the current MCP url",
        "height": 464,
        "width": 560,
        "color": 7
      },
      "id": "32cb9e7c-0003-4414-b4cb-59f116af15d4",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3344,
        1280
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## STEP 5 - Expansion tool\nConfigure [RAG from Zero](https://n8n.io/workflows/7647-build-a-self-updating-rag-system-with-openai-google-gemini-qdrant-and-google-drive/), [Image and Video Grok Agent](https://n8n.io/workflows/13182-grok-imagine-video-chatbot-generate-and-modify-videos-via-natural-language/), ALL sub Workflow and extarnel MCP you want and Escalation Agent",
        "height": 832,
        "width": 1088,
        "color": 7
      },
      "id": "a128640b-581c-4d3c-9cc7-ed80d31cf730",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3952,
        912
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## STEP 6 - Output\nIf it is a voice message the agent responds with an audio, otherwise with text",
        "height": 576,
        "width": 944,
        "color": 7
      },
      "id": "fc618647-62a6-4782-b1a3-b163a0ad8eb4",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4288,
        32
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Message": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Text": {
      "main": [
        [
          {
            "node": "OpenClaw Agents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Get Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get voice message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get image file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get voice message": {
      "main": [
        [
          {
            "node": "Transcribe recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe recording": {
      "main": [
        [
          {
            "node": "Get input text from voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get image file": {
      "main": [
        [
          {
            "node": "Upload image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload image": {
      "main": [
        [
          {
            "node": "Set Image Url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Image Url": {
      "main": [
        [
          {
            "node": "OpenClaw Agents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get input text from voice": {
      "main": [
        [
          {
            "node": "OpenClaw Agents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "OpenClaw Agents",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "OpenClaw Agents",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set up istruction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "MCP Gmail Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "MCP Gmail Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages in Gmail": {
      "ai_tool": [
        [
          {
            "node": "MCP Gmail Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reply to a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "MCP Gmail Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create a draft in Gmail": {
      "ai_tool": [
        [
          {
            "node": "MCP Gmail Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "MCP Calendar Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "MCP Calendar Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "MCP Calendar Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "MCP Calendar Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get availability in a calendar in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "MCP Calendar Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Download file in Google Drive": {
      "ai_tool": [
        [
          {
            "node": "MCP Drive Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders in Google Drive": {
      "ai_tool": [
        [
          {
            "node": "MCP Drive Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many shared drives in Google Drive": {
      "ai_tool": [
        [
          {
            "node": "MCP Drive Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create file from text in Google Drive": {
      "ai_tool": [
        [
          {
            "node": "MCP Drive Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Move file in Google Drive": {
      "ai_tool": [
        [
          {
            "node": "MCP Drive Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create a document in Google Docs": {
      "ai_tool": [
        [
          {
            "node": "MCP Docs Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get a document in Google Docs": {
      "ai_tool": [
        [
          {
            "node": "MCP Docs Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update a document in Google Docs": {
      "ai_tool": [
        [
          {
            "node": "MCP Docs Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "MCP Sheet Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "MCP Sheet Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "MCP Sheet Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete rows or columns from sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "MCP Sheet Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "MCP Sheet Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Clear sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "MCP Sheet Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create a presentation in Google Slides": {
      "ai_tool": [
        [
          {
            "node": "MCP Slides Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get a presentation in Google Slides": {
      "ai_tool": [
        [
          {
            "node": "MCP Slides Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get slides from a presentation in Google Slides": {
      "ai_tool": [
        [
          {
            "node": "MCP Slides Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Replace text in a presentation in Google Slides": {
      "ai_tool": [
        [
          {
            "node": "MCP Slides Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete a draft in Gmail": {
      "ai_tool": [
        [
          {
            "node": "MCP Gmail Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "MCP Gmail Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "MCP Gmail Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Remove label from message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "MCP Gmail Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response in Gmail": {
      "ai_tool": [
        [
          {
            "node": "MCP Gmail Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Agent": {
      "ai_tool": [
        [
          {
            "node": "OpenClaw Agents",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Agent": {
      "ai_tool": [
        [
          {
            "node": "OpenClaw Agents",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar Agent": {
      "ai_tool": [
        [
          {
            "node": "OpenClaw Agents",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Slides Agent": {
      "ai_tool": [
        [
          {
            "node": "OpenClaw Agents",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs Agent": {
      "ai_tool": [
        [
          {
            "node": "OpenClaw Agents",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Agent": {
      "ai_tool": [
        [
          {
            "node": "OpenClaw Agents",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenClaw Agents": {
      "main": [
        [
          {
            "node": "From audio to audio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Websearch Agent": {
      "ai_tool": [
        [
          {
            "node": "OpenClaw Agents",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Scraper Agent": {
      "ai_tool": [
        [
          {
            "node": "OpenClaw Agents",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "RAG Agent": {
      "ai_tool": [
        [
          {
            "node": "OpenClaw Agents",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Reranker Cohere": {
      "ai_reranker": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    },
    "Image and Video Grok Agent": {
      "ai_tool": [
        [
          {
            "node": "OpenClaw Agents",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Others MCP Client": {
      "ai_tool": [
        [
          {
            "node": "OpenClaw Agents",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Others SubWF": {
      "ai_tool": [
        [
          {
            "node": "OpenClaw Agents",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Fix mimeType for Audio": {
      "main": [
        [
          {
            "node": "Send an audio file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Audio Response": {
      "main": [
        [
          {
            "node": "Fix mimeType for Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "From audio to audio?": {
      "main": [
        [
          {
            "node": "Generate Audio Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalization": {
      "main": [
        [
          {
            "node": "OpenClaw Agents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "OpenClaw Agents",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message in Telegram": {
      "ai_tool": [
        [
          {
            "node": "Escalation",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Escalation": {
      "ai_tool": [
        [
          {
            "node": "OpenClaw Agents",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Set up istruction": {
      "main": [
        [
          {
            "node": "OpenClaw Agents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "66f6d79409b4cf14b8f0010cd1fe4826285d61693a343dfc88a39afb386899f1"
  }
}